*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
	outline: none;
	box-sizing:border-box;

}

body,html{
	width: 100%;
	height: 100%;
}

.flex-column > li > a:hover{
	background-color: #eee;
	color: black;
}

.admin_pull{
	padding: 0;
	height: 100%;
}

.left_sidebar{
	padding-left: 0;
	padding-right: 0;
	min-height: 100%;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

.navigation_h{
	margin-bottom: 0;
}
.l_navigation{
	margin-top: 0;
}

.l_navigation .active a{
	color: #fff!important;
	background-color: #428bca!important;
}

.add{
	float: right!important;
}

